@model IEnumerable<Labb1.Products>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    ViewData["Title"] = "Index";
}

<h1>All Products</h1>

    <partial name="Add_To_Cart_Message" />
    <form method="post">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-lg-4 mb-5 d-flex justify-content-center">
                        <div class="card shadow" style="width: 18rem;">

                            <img class="card-img-top" style="height:200px;" src="@Url.Content("~/Images/" + item.photo)" alt="@item.productName" />

                            <div class="card-body col text-center">
                                <h5 class="card-title">@item.productName</h5>
                                <p class="card-text">@item.price.ToString("C0")</p>

                                <a asp-action="ProductDetails" asp-controller="Products" asp-route-productid="@item.id">View Details</a>
                                <br />
                                <br />
                                <div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <input class="btn btn-dark" type="button" value="Buy" onClick="addtocart('@item.id','@item.productName')" />

                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                }
                <a href="D:\Uma\Study\Advanced C#\Labbs\Labb1\Labb1\Views\ShoppingCart\GetCartContent.cshtml">D:\Uma\Study\Advanced C#\Labbs\Labb1\Labb1\Views\ShoppingCart\GetCartContent.cshtml</a>

            </div>
            <div style="display: none" id="AntiForgeryToken">@GetAntiXsrfRequestToken()</div>

        </div>
    </form>




