@model IEnumerable<Labb1.Products>

@{
    ViewData["Title"] = "Index";
}

<h1>All Products</h1>
<form method="post">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-lg-4 mb-5 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">

                    <img class="card-img-top" src="@Url.Content("~/Images/" + item.photo)" alt="@item.productName" />
                    <div class="card-body">
                        <h5 class="card-title">@item.productName</h5>
                        <p class="card-text">@item.price.ToString("C0")</p>
                        <p class="card-text">Color: @item.color</p>
                        <p class="card-text">@item.description</p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button style="position:center" class="btn btn-dark" asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-productid="@item.id">Buy</button>
                        }
                    </div>
                </div>
            </div>

        }
    </div>
</form>



