@model Labb1.Models.Order

@{
    ViewData["Title"] = "CreateOrder";
}



   
        <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Your order is Successfully created.Thank you for shopping with us!</p>
        </div>
        <div>
            <h5><u>Order Details</u></h5>
            <br />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.OrderId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.OrderId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TotalPrice)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TotalItems)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TotalItems)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.OrderDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.OrderDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserId)
                </dd>
            </dl>

        <h5><u>Shopped items</u></h5>
            <br />
        <div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProductsList)
                        {
                            <tr>
                                <td>@item.Product.productName</td>
                                <td>@item.Product.price</td>
                                <td>@item.Amount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
            </div>
    
<div class="text-center">   
    <a asp-action="Index" asp-controller="Products" class="btn btn-dark" >Back</a>
</div>
<br />
<br />
