@model Labb1.Models.ShoppingCart

@{
    ViewData["Title"] = "GetCartContent";
}

<h1>GetCartContent</h1>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>color</th>
            <th>Description</th>
            <th>Pris</th>
            <th>Amount</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.productlist)
        {
        <tr>
            <td>@item.Product.productName</td>
            <td>@item.Product.color</td>
            <td>@item.Product.description</td>
            <td>@item.Product.price</td>
            <td>@item.Amount</td>
        </tr>
        }
    </tbody>
</table>
<div style="float:right">
    Total Price: @Model.TotalPrice
</div>
<div style="">
    <button class="btn btn-success">Order</button>
</div>

